[Service] 
ExecStart=nodejs /app/download/index.js 
Restart=always 
StandardOutput=syslog 
StandardError=syslog 
SyslogIdentifier=download 
User=srv-download 
Group=srv-download 
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
